@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(./markdown.css); */
@import url(./prism-one-dark.css);

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.notion-app {
  @apply dark:bg-[#1a202c] dark:text-gray-50;
  min-height: 100% !important;
}
.notion-full-page {
  padding-bottom: 0 !important;
}
.notion-page-scroller {
  min-height: 100% !important;
}

.notion-list-numbered {
  width: 100% !important;
  .notion-code {
    font-size: 65% !important;
  }
}
