.postContainer {
  @apply p-4 pb-0;
  min-height: calc(100vh - 8rem);
  .cover {
    @apply relative h-40 w-full  rounded-md overflow-hidden;
    h1 {
      @apply text-6xl font-bold text-white absolute -bottom-5 left-5;
      text-shadow: 0 theme('spacing.1') theme('spacing.2') #c4b59d, 0 -2px 1px #fff;
    }
  }
  .cover {
    background: linear-gradient(
      124deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3
    );
    background-size: 1800% 1800%;
    animation: rainbow 80s ease infinite;
  }

  .skeletonCover {
    @apply h-40;
  }

  .skeletonItem {
    @apply w-full mx-auto;
  }

  @screen md {
    @apply p-8 pb-0 max-w-6xl mx-auto;
    .skeletonItem {
      @apply w-[var(--notion-max-width)] mx-auto;
    }
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
