.container {
  @apply h-screen p-3 overflow-hidden flex justify-center items-center text-3xl font-bold;
  // background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
  .textLayer {
    @apply flex flex-wrap w-52 h-52 bg-clip-text text-transparent break-all overflow-hidden;
    background-image: linear-gradient(
      rgb(255, 118, 152) 29.17%,
      rgb(40, 0, 255) 100%
    );
    span {
      @apply inline bg-clip-text text-transparent;
      background-image: linear-gradient(135deg, #fff720 10%, #3cd500 100%);
    }
    span:nth-child(2) {
      background-image: linear-gradient(135deg, #fd6e6a 10%, #ffc600 100%);
    }
    span:nth-child(3) {
      background-image: linear-gradient(135deg, #fab2ff 10%, #1904e5 100%);
    }

    a {
      @apply cursor-pointer;
      border-bottom: 5px solid #1904e5;
    }
  }
}
